.footer {
  background-color: $bgDark;
  color: $fontLight;
  padding: 60px 20px;

  // .footer
  &__content {
    @extend .container;
    @include templateGrid(3);

    h4 {
      color: $primary;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 20px;
    }

    // .footer__content
    &-list {
      li {
        margin: 10px 0;
      }

      a {
        color: $fontLight;
        transition: $transition;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  &__rrss {
    @include templateFlex(space-evenly, false);
    margin-top: 30px;

    // mapa
    $iconSocialMedia: (
      github: $primary,
      twitter: #55acee,
      instagram: #c92d8f,
      facebook: #2279e4,
    );

    // ciclo - bucle
    @each $nameSocialMedia, $colorIcon in $iconSocialMedia {
      .rs-#{$nameSocialMedia} {
        color: $fontLight;
        font-size: 30px;
        transition: $transition;

        &:hover {
          color: $colorIcon;
        }
      }
    }
  }

  &__copy {
    margin-top: 40px;
    text-align: center;
    color: #94a3b8;
  }
}

@media (max-width: $bpSmall) {
  .footer__content {
    grid-template-columns: 1fr;
  }
}